
#backgroundimage{
	position:absolute;
	width: 100%;
	min-height: 100%;
	z-index: 0;
	background-image: url("../images/starssmall.jpg");
	background-repeat:no-repeat;
	/*background-size:   auto 2000px;*/
	background-size: 3000px 100%;
	background-position: 50% 50%;
	-webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
body{

	margin:0px;
	min-height:990px;
	background-color:black;

}
footer{
	width: 100%;
	margin:auto auto auto auto;
	position: absolute;
	bottom:0;
	text-align: center;

}

#backgroundcolor{
	position:absolute;
	background-color:#330000;
	opacity: 0.5;
	width: 100%;
	min-height: 100%;
	z-index: 1;
}
#backgroundgradient{
	position:absolute;
	
background: rgba(0,0,0,0);
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(1%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
	opacity:0.5;
	width: 100%;
	min-height: 100%;
	z-index: 2;
}

.content{
	color:#ffffff;
	position:absolute;
	font-family: Helvetica;
	text-align: center;
	width: 100%;
	min-height: 100%;	
	
}

.box{
	text-shadow: 5px 5px 30px black;
	width: 90%;
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 3;

}
h1{
	font-size:2em;
	font-weight: bold;
	margin-bottom: 15px;
}
h2{
	font-size:1.2em;
}

i{
	margin:auto auto 10px auto;
}
.mail{
	margin-top: 20px;
	color:#ffffff;
}